.textalgin{
	/*text-align: right;*/
	/*text-align: left;*/
	/*text-align: center;*/
	text-align: justify;
}

.textdecoration{
	text-decoration: underline;
	/*text-decoration: line-through;
	text-decoration: overline;*/
}

.textline{
	letter-spacing: 5px;
	/*line-height: 3;*/
	line-height: 200%;
}

.textshadow{
	text-shadow: 5px 0 5px red;
	text-align: center;
}