.p3{
	font-family: Century;

	font-weight: bold;

			/*100 to 900*/
	/*font-weight: 700;*/

	/*font-style: italic;*/

	/*text-transform: uppercase;*/
	/*text-transform: lowercase;*/
	/*text-transform: capitalize;*/

	font-variant: small-caps;

	/*Text Indentation*/
	text-indent: 30px;
}

.a1{
	text-decoration: none;
	color: green;
}

.a1:visited{
	color: red;
}

.a1:hover{
	color: blue;
	font-size: 30px;
}

.menutext{
	font-family: Cambria;
	text-decoration: none;
	background-color: green;
	color: #fff;

	/*padding: 10px;*/
	/*padding: 10px 30px;*/
	/*padding: 10px 20px 30px 40px;*/

	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;

	border-radius: 10px;

	/*transition: background-color 2s,color 2s;*/
	transition: all 1s;
}

.menutext:hover{
	background-color: orange;
	color: #000;
}

.imgdesgin{
	width: 80px;
	height: 80px;

	transition: all 1s;
}

.imgdesgin:hover{
	width: 100px;
	height: 100px;
}
